In [17]:
import datapath
import pandas as pd

In [15]:
# read lad data
lad = pd.read_csv(r'datasets\Local_Authority_District_(April_2023)_to_LAU1_to_ITL3_to_ITL2_to_ITL1_(January_2021)Lookup.csv')
lad

,LAD23CD,LAD23NM,LAU121CD,LAU121NM,ITL321CD,ITL321NM,ITL221CD,ITL221NM,ITL121CD,ITL121NM,ObjectId
0,E06000001,Hartlepool,E06000001,Hartlepool,TLC11,Hartlepool and Stockton-on-Tees,TLC1,Tees Valley and Durham,TLC,North East (England),1
1,E06000004,Stockton-on-Tees,E06000004,Stockton-on-Tees,TLC11,Hartlepool and Stockton-on-Tees,TLC1,Tees Valley and Durham,TLC,North East (England),2
2,E06000002,Middlesbrough,E06000002,Middlesbrough,TLC12,South Teesside,TLC1,Tees Valley and Durham,TLC,North East (England),3
3,E06000003,Redcar and Cleveland,E06000003,Redcar and Cleveland,TLC12,South Teesside,TLC1,Tees Valley and Durham,TLC,North East (England),4
4,E06000005,Darlington,E06000005,Darlington,TLC13,Darlington,TLC1,Tees Valley and Durham,TLC,North East (England),5
...,...,...,...,...,...,...,...,...,...,...,...
383,E07000138,Lincoln,E07000138,Lincoln,TLF30,Lincolnshire CC,TLF3,Lincolnshire,TLF,East Midlands (England),384
384,E07000139,North Kesteven,E07000139,North Kesteven,TLF30,Lincolnshire CC,TLF3,Lincolnshire,TLF,East Midlands (England),385
385,E07000140,South Holland,E07000140,South Holland,TLF30,Lincolnshire CC,TLF3,Lincolnshire,TLF,East Midlands (England),386
386,E07000141,South Kesteven,E07000141,South Kesteven,TLF30,Lincolnshire CC,TLF3,Lincolnshire,TLF,East Midlands (England),387
387,E07000142,West Lindsey,E07000142,West Lindsey,TLF30,Lincolnshire CC,TLF3,Lincolnshire,TLF,East Midlands (England),388